<html>
<head>
  <title>Admin UI - Redirect Server</title>

  <style>
    {% include 'styles.css' %}
  </style>
  <script>
    {% include 'scripts.js' %}
  </script>
</head>
<body>
  <h1>Admin UI</h1>

  <div class="messages">
    {% include 'messages.html' %}
  </div>
  <div class="edit">
    {% include 'inputs.html' %}
  </div>
  <div class="rules">
    {% with section = 'simple', rules = simple_rules.values() %}
      {% include 'rules.html' %}
    {% endwith %}

    {% with section = 'regex', rules = regex_rules %}
      {% include 'rules.html' %}
    {% endwith %}

    <h2>Admin settings</h2>
    <div class="admin">
      <ul>
        <li><b>Path:</b> {{ admin.path }}</li>
      <ul>
    </div>
  </div> 
</body>
</html>
